body {
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(
    109.6deg,
    rgb(220, 196, 252) 11.2%,
    rgb(150, 199, 253) 100.2%
  );
}

h1 {
  color: #000000;
  font-size: 32px;
  font-weight: 600;
}

h2 {
  color: #000000;
  font-size: 120px;
  font-weight: 300;
  text-align: right;
  margin-top: -22px;
  padding-top: 0;
}

h3 {
  color: #000000;
  font-size: 32px;
  font-weight: 400;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

li:first-letter {
  text-transform: capitalize;
}

hr {
  color: #8a37ce;
}

.container {
  margin-top: 10em;
  width: 700px;
  padding: 40px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(49, 60, 212, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 24px;
  border: 1px solid #7ca3e2;
}

.search {
  width: 100%;
  height: 52px;
  border: solid 1px;
  border-color: #060606;
  border-radius: 50px;
  padding-left: 20px;
  margin-bottom: 40px;
  background: linear-gradient(
    109.6deg,
    rgb(220, 196, 252) 11.2%,
    rgb(150, 199, 253) 100.2%
  );
}

.search:hover {
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 100%;
  background: #eaf6f6;
}
.button {
  background: rgb(150, 199, 253);
  color: rgb(2, 2, 2);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 5px 5px 5px rgb(44, 98, 206);
  transition: all 200ms ease-in-out;
  padding: 0;
  width: 100px;
  height: 50px;
  font-size: 20px;
  font-weight: 500px;
}
.button:hover {
  background: white;
  color: black;
  border-color: black;
}
.current-weather-icon {
  height: 65px;
  margin-right: 5px;
  margin-top: 4px;
}

.current-weather-wrapper {
  padding-top: 20px;
}

.current-weather-info-wrapper {
  padding-left: 60px;
}

.current-weather-info-wrapper .active {
  color: #092238;
  cursor: default;
}

.current-weather-info-wrapper .active:hover {
  text-decoration: none;
}

.current-location-info-wrapper {
  padding-left: 30px;
}

.units {
  color: #000000;
  font-size: 32px;
  font-weight: 400;
}
.weather-forecast {
  padding-top: 40px;
  margin-bottom: 0;
}

.forecast-weather-icon {
  margin: 20px 0 20px 0;
  height: 30px;
}

.forecast-wrapper {
  display: block;
  text-align: center;
  background-color: transparent;
  border: none;
}

.weather-forecast-date {
  font-size: 16px;
  font-weight: 500;
}

.forecast-max-temp {
  font-size: 14px;
  color: #000000;
  padding-right: 5px;
}

.forecast-min-temp {
  font-size: 14px;
  color: #000000;
  opacity: 70%;
  padding-left: 5px;
}
